body, html {
    height: 100%;
}

.hero-full-height {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

section:nth-child(even){
    background-color:#eee;
}

.section {
    width: 100%;
    min-height: 100vh;
    padding-top: 65px;
}